html, body {
    height: 100%;
    margin: 0;
    display: flex;
    background-color: #090333;
    justify-content: center;
    color: #EBE8FF;
    font-family: 'Roboto', sans-serif;

}

.GeneralGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Title {
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    color: #EBE8FF;
    margin: 20px 0;
}

.button {
    width: 180px;
    gap: 20px;
    background-color: white;
    color: #090333;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 25px;
    padding: 20px;
    font-size: 30px;
    transition: background-color 0.9s;
}

.difficultyButton:hover {
    background-color: #A9A6D6;
}