body {
    display: flex;
    background-color: #121212;
    justify-content: center;
    color: #E0E0E0;
    font-family: 'Roboto', sans-serif;

}

.GeneralGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Title {
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    color: #FF3D00;
    margin: 20px 0;
}