.selecter {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

.difficultyButton {
    width: 150px;
    gap: 20px;
    background-color: white;
    color: #090333;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 25px;
    padding: 20px;
    font-size: 30px;
    transition: background-color 0.9s;
}

.difficultyButton:hover {
    background-color: #A9A6D6;
}