.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    padding: 20px;
    border-radius: 15px;
}

.modalContent.correct {
    background-color: green;
}

.modalContent.incorrect {
    background-color: red;
}